@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&family=Urbanist:wght@200;300;400;500;600;700;800;900&display=swap");

.logo-div {
  font-family: "Raleway", sans-serif !important;
}

.slideOutUp {
  -webkit-animation-name: slideOutUp;
  animation-name: slideOutUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideOutUp {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-32px);
    transform: translateY(-32px);
  }
}
@keyframes slideOutUp {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-32px);
    transform: translateY(-32px);
  }
}

@media screen and (max-width: 362px) {
  .mailUstKisim {
    display: none;
  }
}

@media screen and (max-width: 719px) {

    

@-webkit-keyframes slideOutUp {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
  }
  @keyframes slideOutUp {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
  }



}
